<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Auth
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="!_authService.token_expires">
        <ion-card-header>
            <ion-card-subtitle>Connexion</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label position="stacked">Pseudo</ion-label>
                    <ion-input type="text" [(ngModel)]="user.username" name="login-username"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Mot de passe</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" name="login-password"></ion-input>
                </ion-item>
            </ion-list>
            <ion-button type="submit" type="submit" expand="block" color="secondary"
                        [disabled]="_authService.token_expires"
                        (click)="login()">Connexion
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
