<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let event of _eventsList">
        <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
            <ion-card-subtitle>{{_user.retrieve(event.owner, false)}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <li>Commence le {{_event.toDate(event.start).toLocaleDateString()}}</li>
                <li>Finis le {{_event.toDate(event.end).toLocaleDateString()}}</li>
            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-list lines="none">
            <ion-list-header>
                <ion-label>Resources</ion-label>
            </ion-list-header>
            <ion-item href="!#" *ngIf="_auth.token_expires">
                <ion-icon slot="start" color="medium" name="clock"></ion-icon>
                <ion-label>Token expire in : {{ token_expiration_hour }}:{{ token_expiration_minutes }}
                    :{{ token_expiration_seconds }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
