<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-list lines="none">
            <ion-list-header>
                <ion-label>Resources</ion-label>
            </ion-list-header>
            <ion-item href="!#" *ngIf="_auth.token_expires">
                <ion-icon slot="start" color="medium" name="clock"></ion-icon>
                <ion-label>Token expire in : {{ token_expiration_hour }}:{{ token_expiration_minutes }}:{{ token_expiration_seconds }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
